.dark-mode {
    background-color: darken($grisOscuro, 10);

    p {
        color: $blanco;
    }

    a, h1, h2, h3, h4 {
        color: $gris;
    }

    .anuncio, .resumen-propiedad {
        background-color: $grisOscuro;
        border: 1px solid $grisOscuro;

        .precio {
            color: $verde;
        }

        .icono {
            filter: invert(100%);
        }
    }

    .texto-nosotros blockquote{
        color: $gris;
    }

    .formulario {
        fieldset p {
            color: $gris;
        }

        legend, label {
            color: $blanco;
        }

        input:not([type="submit"]), textarea, select {
            background-color: $grisOscuro;
            color: $gris;
        }
    }

    
}