.alerta {
    padding: .5rem;
    margin-top: 1rem;
    text-align: center;
    color: $blanco;
        font-weight: $bold;
        text-transform: uppercase;

    &.error {
        background-color: $rojo;
    }
}